:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  color-scheme: light dark;
  color: var(--grafite-black);
  background-color: #fffefe;
  --gainsboro: #DCDCDC;
  --light-gray: #D3D3D3;
  --grafite-black: #070706;
  --grafite-gray: #53565b;
  --silver-sand: #BDBDB9;
  --foggy-gray: #ADACA7;
  --deep-red: #870201;
  --tractor-red: #fd0e35;
  --font-body: Arial, Helvetica, sans-serif;
  --backgr-color: #fffefe;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ::-webkit-scrollbar{    
    height: 0.3rem;
    width: 0.5rem;    
  }

  ::-webkit-scrollbar-track{
    background: var(--silver-sand);         
  }

  ::-webkit-scrollbar-thumb{
    background: var(--grafite-gray);
    width: 0.5rem;
    border-radius: 50vw;
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;  
  min-width: 320px;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 1024px) {
  :root{
    width: 100%;
    padding: 0;
  }  
}

.main-container {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 5rem;

  @media screen and (max-width: 1170px) {
    padding-left: 0;
    padding-right: 0;
  }
}

/* Logo */
.logo {
  width: 40px;
  height: 40px;
}

.nav-hover-btn {
  cursor: pointer;
  position: relative;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--foreground);
}

/* Navbar */
.nav-wrapper {
  position: relative;  
  top: 0;
  left: 0;
  right: 0;
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem;
  height: 5rem;
  width: 80%;
  z-index: 10;

  @media screen and (max-width: 640px) {
    position: sticky;
    top: 0;    
    width: 90%;
    margin: 0 auto;
    background: var(--backgr-color);
  }
}

/* SearchBar's styles */
.search-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 0.5rem;
  
  input {
    border: none;
    outline-style: none;
    width: 100%;
    background: transparent;    
    border-bottom: 1px solid var(--gray);
    color: var(--grafite-black);
  }

  p{
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-size: 0.8rem;
  }
}

/* Horizontal line bottom of searchbar */
#line{
  background: var(--grafite-black);
  width: 100%;
}

.cart {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: row;

  .cart-count {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -1rem;
    right: -0.8rem;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: whitesmoke;
    background-color: var(--deep-red);
  }
}

.cart-modal {
  display: flex;
  position: absolute;
  right: 0;
  top: 3rem;
  z-index: 20;
  padding: 1rem;
  flex-direction: column;
  gap: 1.5rem;
  border: 1px solid var(--gray);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0.375rem;
  width: max-content;
  background-color: var(--background);
}

.cart-modal-item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.cart-modal-img {
  object-fit: cover;
  border-radius: 0.375rem;
}

.cart-modal-item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Product's list styles */
.product-list-wrapper {
  display: flex;
  margin-top: 3rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.product-list-item {
  position: relative;  
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 0.75rem;
  width: 100%;
  border: var(--foggy-gray) solid 1px;  

  @media (min-width: 320px) {
    width: min-content;
  }

  @media (min-width: 640px) {
    width: 40%;
  }

  @media (min-width: 1024px) {
    width: 23%;
    min-width: 12rem;
  } 
}

.product-list-item::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  background: var(--grafite-black);
  transition: ease-in-out 0.8s top;
}

.product-list-item:hover {
  h3,
  h4 {
    position: relative;
    color: var(--silver-sand);
  }
}

.product-list-item:hover::before {
  top: 0%;
}

.product-list-item-images {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
}

/* ProductItem's list styles when it invokes from the CartPage */
.product-list-item-from-cart {
  display: flex;
  flex-direction: row;
  justify-items: start;  
  padding: 0.5rem;
  width: 100%;
  margin: 1rem;
  border: none;
  height: auto;

  @media screen and (max-width: 640px) {
    padding: 0;
    margin: 0;    
  }
}

.product-list-item-images-from-cart {
  position: relative;
  min-width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit:cover;
}

.product-list-item-img-from-cart {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 14rem;
  height: 14rem;
  object-fit: cover;
  position: relative;
  z-index: 10;
  border-radius: 0.375rem;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

.product-list-item-info-from-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: var(--grafite-gray);
  height: auto;

  @media screen and (max-width: 640px) {    
    width: 100%;
  }
}

.product-list-item-img {
  display: flex;
  width: 14rem;
  height: 14rem;
  object-fit: contain;
  position: relative;
  z-index: 10;
}

.product-list-item-info {
  display: flex;
  flex-direction: row;
}

.product-list-item-info-details-from-cart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  h3,h4{
    font-size: 0.8rem;
    margin: 0;
    text-transform: uppercase;      
  }

  @media screen and (max-width: 640px) {
    h3,h4{
      font-size: 0.8rem;
          
    }
  }
}

.product-list-item-info-details-from-cart-storage-color{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;  

  span{
    margin: 0 0.2rem;
  }
}

.product-list-item-info-details-from-cart span:nth-child(3) {
  margin-top: 1rem;
}

.product-list-item-info-details {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  text-transform: uppercase;

  h4 {
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: var(--foggy-gray);
  }

  h3 {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
    color: var(--grafite-black);
  }
}

.product-list-item-info-details-phone {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.product-list-item-info-actions {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 4rem;
}

.eliminate-item-btn {
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  border: none;
  padding: 0;
  margin: none;
  background: none;
  color: var(--tractor-red);
  text-transform: none;
  font-weight: 500;
  font-size: 1rem;

  @media screen and (max-width: 640px) {
    font-size: 0.8rem;    
  }
}

.item-btn {
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.item-btn:hover {
  background-color: #374151;
}

.item-btn:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .item-btn {
    padding: .75rem 1.5rem;
  }
}

.item-btn:hover {
  color: #ffffff;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.phone-page-wrapper {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  background-color: inherit;
  width: 100%;
}

.phone-page-back-button-container{  
  position: sticky;  
  top: 9rem;
  left: 5rem;
  background: none;
  width: fit-content;
  height: fit-content;

  @media screen and (max-width: 640px) {
      background: var(--backgr-color);
      margin: 0;
      width: 100%;
      height: 3rem;
      top: 6rem;      
  }

  @media screen and (max-width: 1024px) {
    left: 2rem;
  }
}

.phone-page-container {
  margin: 4rem auto;
  background: inherit;
  padding: 1.5rem;
  width: 80%;
  height: 100%;  

  @media screen and (max-width: 640px) {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
  }  
}

.phone-page-main-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  @media screen and (max-width: 640px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;    
  }  
}

.phone-page-img-container img {
  max-width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: scale-down;
}

.phone-page-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;  

  @media screen and (max-width: 640px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0;    
    width: 100%;
  }
}

.phone-page-info-container-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 2rem;
  line-height: 2rem;

  h3 {
    margin: 0;
    padding: 0;
    color: var(--grafite-gray);
    font-weight: 300;
    text-transform: none;
  }
  #title-name {
    text-transform: uppercase;
    font-size: clamp(1.3rem, calc(3vw + 1rem), 1.5rem);
  }
}

.phone-page-info-container-title:nth-child(1) {
  text-transform: uppercase;
}

.phone-page-storage-title,
.phone-page-color-title {
  text-transform: uppercase;
  color: var(--grafite-black);
  font-weight: 300;
  font-size: 1rem;

  @media screen and (max-width: 640px) {
    text-align: start;    
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
  }
}

.phone-page-storage-options-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @media screen and (max-width: 640px) {
    display: flex;
    flex-direction: row;
    justify-content: start;
  }
}

.phone-page-storage-option {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  width: max-content;
  height: 3rem;
  cursor: pointer;  
  min-width: 5rem;
  min-height: 2rem;
  transition: all 0.5s ease;

  @media screen and (max-width: 640px) {
    width: 5rem;
  }
}

.color-options-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 10%;
  gap: 1rem;
  
  @media screen and (max-width: 640px) {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.color-option {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
  cursor: pointer;
  position: relative;
}

.phone-page-storage-option {
  border: 1px solid var(--foggy-gray);
}

.phone-page-storage-option.selected {
  border-color: var(--grafite-black);
}

.color-option-square {
  width: 1rem;
  height: 1rem;
  margin: auto;
}

.color-option img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  border-radius: 5px;
}

/* Phone's specifications styles */
.phone-specs-container {
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;

  @media screen and (max-width: 640px) {
    margin: 0;
    padding: 0;
  }
  
  h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-transform: uppercase;
    border-bottom: 1px solid var(--silver-sand);
    color: var(--grafite-gray);
    font-weight: 300;
    width: 100%;
    padding-bottom: 3rem;
  }
}

.phone-specs-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--silver-sand);

  @media screen and (max-width: 640px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  h4 {
    margin: 0;
    padding: 0;    
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    min-height: fit-content;
    text-transform: uppercase;
    color: var(--grafite-gray);
    font-weight: 300;
    text-align: left;

    @media screen and (max-width: 640px) {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      margin: 1rem 0;         
      font-size: 1rem;       
      text-align: start;      
    }
  }

  p {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-basis: 70%;
    text-align: left;

    @media screen and (max-width: 640px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;   
      font-size: 1rem;   
      flex-basis: 60%;    
    }
  }
  
}

.similar-products-wrapper {
  display: flex;
  flex-direction: column;  
  overflow-x: scroll;  

  h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-transform: uppercase;
    color: var(--grafite-gray);
    font-weight: 300;
    width: 100%;
    padding-bottom: 3rem;
  }
}

.similar-products-container {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100dvw;  
  padding-bottom: 2rem;  
}

/* General styles for responsiveness */
@media (max-width: 1024px) {  

  .phone-page-wrapper{
    width: 100%;
    padding: 0;
    margin: 0;
    display: inherit;
    flex-direction: column;
  }

  .phone-page-img-container{
    max-width: max-content;
    min-width: fit-content;
  }

  .phone-page-img-container img{
    max-width: 100%;
    height: auto;
    max-width: 420px;
    max-height: 420px;
  }
    
  .phone-specs-container{
    width: 90%;
    margin-bottom: 1.5rem;
  }

  .phone-specs-container h2{
    width: 80dvw;
    padding-bottom: 1.5rem;
  }

  .similar-products-wrapper{
    width: 90%;
  }
  .similar-products-wrapper h2{
    padding-bottom: 1.5rem;
  } 
}

@media (max-width: 768px) {
  .phone-page-storage-option {
    padding: 8px;
    min-width: 3.5rem;
  }
  
  .color-option img {
    width: 1.75rem;
    height: 1.75rem;
  }
  
  .phone-specs-container h2 {
    font-size: 1.25rem;
    padding-bottom: 2rem;
  }
}

@media (max-width: 480px) {
  .phone-page-storage-option {
    padding: 6px;
    min-width: 3rem;
    font-size: 0.875rem;
  }
  
  .color-option {
    align-items: center;
  }
  
  .color-option img {
    width: 1.5rem;
    height: 1.5rem;
  }
  
  .phone-specs-container {
    margin: 3rem 0;
  }
  
  .phone-specs-container h2 {
    font-size: 1rem;
    padding-bottom: 1.5rem;
  }
  
  .similar-products-wrapper h2 {
    font-size: 1rem;
    padding-bottom: 1.5rem;
  }  
}

/* Product images component styles */
.product-images-container {
  position: relative;
  height: 500px;
  width: auto;
}

.product-images-container-img {
  object-fit: cover;
  border-radius: 0.375rem;
}

.secondary-products-images-container {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  gap: 4rem;
  justify-content: space-between;
}

.secondary-products-images {
  position: relative;
  margin-top: 2rem;
  gap: 1rem;
  width: 25%;
  height: 8rem;
  cursor: pointer;
}

/* SHOPING CART style */
.shopping-cart-page-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  height: calc(100vh - 5rem);
  background: #703f3f;
}

/* Page 404 styles */
#main-404 {
  display: table;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.fof-404 {
  display: table-cell;
  vertical-align: middle;
}

.fof-404 h1 {
  font-size: 3rem;
  display: inline-block;
  padding-right: 12px;
  animation: type .5s alternate infinite;
}

@keyframes type {
  from {
    box-shadow: inset -3px 0px 0px #888;
  }

  to {
    box-shadow: inset -3px 0px 0px transparent;
  }
}

/* Wrapper to create the white spacing */
.color-option-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.43rem;  
  height: 1.43rem;
  background-color: white;  
  border: 1px solid #ccc;
  transition: border 500ms ease-in;
}

/* Hover effect for the wrapper */
.color-option-wrapper:hover {
  border-color: #333;
}

/* Selected effect */
.color-option-wrapper.selected {
  border: 2px solid var(--grafite-gray);
}

/* Actual color square */
.color-option-square {
  width: 1.3rem;
  height: 1.3rem;
}

/* Hide color name by default */
.color-name {
  position: absolute;
  top: 100%;
  margin: 0;
  font-size: 0.75rem;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

/* Show color name on hover or when selected */
.color-option:hover .color-name,
.color-option .selected+.color-name {
  opacity: 1;
}

.shoping-cart-page-wrapper{  
  width: 100%;
  height: calc(100vh - 8rem);
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 5rem 0 3rem 0; 

  h1{
    position: relative;
    text-align: start;
    margin: 0 4rem;
    padding: 0;
    text-transform: uppercase;
    color: var(--grafite-black);
    font-weight: 500;   
    font-size: clamp(1rem, calc(1vw + 1.5rem), 1.8rem);

    @media screen and (max-width: 640px) {
      margin: 0 0 3rem 2rem; 
    }
  }
  @media screen and (max-width: 640px) {
    margin: 3rem 0 3rem 0;
  }
}

.shopping-cart-products{
  display: flex;
  flex-direction: column;
  gap: 1rem;  
}

.shopping-cart-bottom {  
  position: relative;
  bottom: 0;    
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  h4 {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--grafite-black);
    margin-left: auto;

    @media screen and (max-width: 640px) {
      padding: 0;
    }

    @media screen and (max-width: 768px) {
      margin: 0;
      padding: 0;
    }
  }

  span {
    margin-left: 0.5rem;
  }

  @media(max-width: 482px) {
    margin: 0 0.5rem;
  }
  @media(max-width: 768px) {
    margin: 0 0.5rem;
  }
  @media(max-width: 1024px) {
    margin: 0 3rem;
  }
}

.shopping-cart-bottom-mobile{
  display: flex;
  flex-direction: column; 
  justify-content: center;
  margin: auto 0.3rem;

  h4 {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--grafite-black); 
    float: left;  
    display: flex;
    justify-content: space-between; 
  }  
}

.shopping-cart-bottom-mobile-btns{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Styles of a Button component */
.phone-page-back-button {
  position: sticky;  
  top: 9rem;
  left: 5rem;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  border: none;
  background: none;
  color: var(--grafite-black);
  text-transform: uppercase;
  font: 800;

  span {
    margin-right: 0.5rem;
  }  

  @media screen and (max-width: 640px) {
    width: 100%;
    backcground:var(--gainsboro);
    top: 5rem;
    left: 2rem;
    padding: 0 1rem;     
  }
}

.continue-shopping-btn {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  border: 1px solid var(--grafite-gray);
  padding: 1rem 2rem;
  background: none;
  color: var(--grafite-gray);
  text-transform: uppercase;
  font: 700;

  @media screen and (max-width: 640px) {
    padding: 1rem 1rem; 
    min-width: max-content;      
  }
}

.pay-btn {
  width: 12rem;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid var(--grafite-black);
  padding: 1rem 2rem;
  background: var(--grafite-black);
  color: var(--light-gray);
  text-transform: uppercase;
  font: 700;
  margin-left: 4rem;

  @media screen and (max-width: 640px) {
    margin-left: 1rem;
  }
  @media screen and (max-width: 768px) {
    margin-left: 1rem;
  }  
}

.add-to-cart-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.2rem;
  padding: 0.5rem;
  width: 90%;
  height: 10%;
  text-transform: uppercase;
  background: var(--grafite-black);
  color: var(--foggy-gray);
  font-size: clamp(0.8rem, calc(1vw + 0.5rem), 1rem);
  font-weight: 200;
  border: none;
  cursor: pointer;
  transition: background 1 ease-in-out;

  @media screen and (max-width: 640px) {
    width: 100%;
    height: 3rem;
  }
}

.add-to-cart-btn:disabled {
  background: var(--gainsboro);
  cursor: not-allowed;
}

/* Animated page chabging navigation */
@view-transition {
  navigation: auto;
}

::view-transition-old(root) {
  animation: 0.4s ease-out both blur-out;
}

::view-transition-new(root) {
  animation: 0.4s ease-out both blur-in;
}

@keyframes blur-out {
  from {
    filter: blur(0px);
    transform: scale(1);
    opacity: 1;
  }

  to {
    filter: blur(20px);
    transform: scale(1.2);
    opacity: 0;
  }
}

@keyframes blur-in {
  from {
    filter: blur(20px);
    transform: scale(1.2);
    opacity: 0;
  }

  to {
    filter: blur(0px);
    transform: scale(1);
    opacity: 1;
  }
}
